<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Recognition</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style>
    html,
    body {
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="box p-6 has-text-centered">
        <h1 class="title">Use Cases</h1>
        <ul>
          <li>
            <a href="/compare">Compare Faces</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>

</html>